[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ray = {extras = ["rllib"], version = "*"}
tensorflow = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"

[pipenv]
allow_prereleases = true
